
<%= link_to 'Register For Exam', new_examination_path %>
<%= link_to 'Participation', examinations_path %>
<%= link_to "Quizzes", quizzes_path %>



<h1> Welcome to Kreeti Examination Portal</h1>



<%= button_to 'Log out', destroy_user_session_path, method: :delete %>

